fastapi==0.115.4
uvicorn[standard]
supabase
python-dotenv==1.0.1
pydantic==2.9.2
pandas==2.2.3
numpy
scikit-learn
plotly==5.24.1
matplotlib
torch==2.3.1
pytorch-lightning==2.3.3
pytorch-forecasting==1.0.0
